@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animationLineMenuBottom {
    animation-name: lineMenuBottom;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }

  .right-align-placeholder::placeholder {
    text-align: right;
  }
}

@layer base {
  @font-face {
    font-family: "IRANSans";
    src: url("../fonts/IRANSans-Medium-web.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "DMSerifDisplay";
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype");
    font-weight: 400; /* Font weight for Roboto Regular */
    font-style: normal; /* Font style for Roboto Regular */
  }

  @font-face {
    font-family: "Allerta";
    src: url("../fonts/Allerta-Regular.ttf") format("truetype");
    font-weight: normal; /* Font weight for Roboto Regular */
    font-style: normal; /* Font style for Roboto Regular */
  }

  .link,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  span,
  button,
  p {
    @apply font-[IRANSans];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@keyframes lineMenuBottom {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.clipPathPolygon {
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.container {
  background-color: white;

  margin: 0 auto;
  background-image: repeating-linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.25) 98px,
      gray 100px
    ),
    repeating-linear-gradient(
      0.75turn,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.25) 98px,
      gray 100px
    );
}

.lastTextCenter {
  text-align-last: center;
}

.customShadow1 {
  box-shadow: 0px 13px 32px -3px #3d3aa9;
}
